@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
    min-height: 100vh;
    min-height: 100dvh;
    line-height: 1.5;
    margin: 1rem 25%;
    background-color: #0e1217;
}


.navbar {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a9b1d6;
}

.navbar a {
    color: #a9b1d6;
}

.close-btn {
    padding-left: 1rem;
    color: #a9b1d6;
    font-size: 1.5rem;
}

.close-btn:hover {
    cursor: pointer;
}

.side-btn:hover {
    cursor: pointer;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0e1217d2;
    backdrop-filter: blur(10px);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar h1 {
    display: none;
}

.sidebar ul {
    width: 100%;
    padding: 1rem;
}

.sidebar ul li a {
    color: #a9b1d6;
    padding-left: 1rem;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    padding: 1rem 0;
    border-radius: 1rem;
}

.sidebar ul li:hover {
    background-color: #a9b1d644;
}

.header {
    margin-bottom: 2rem;
}

.header img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.navbar h1 {
    color: #a9b1d6;
}

.navbar h1:hover {
    cursor: pointer;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    margin: 0 .5rem;
    color: #a9b1d6;
}

.navbar ul li a:hover {
    color: white;
}

.sub-btn:hover {
    background-color: #a9b1d644;
}

.side-btn {
    align-items: center;
    display: none;
}

.sub-btn {
    border: 1px solid #a9b1d6;
    color: #a9b1d6;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.nav-btn i {
    color: #a9b1d6;
    padding: 0rem 1rem;
    font-size: 1.3rem;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a9b1d6;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.hero-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.hero-card .hero-info h2,
.hero-card .hero-info p,
.hero-card .hero-label span,
.hero-card .hero-label a {
    color: white;
}

.hero-card .hero-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-label a {
    border: 1px solid #a9b1d6;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.hero-label a:hover {
    background-color: #a9b1d644;
}

.hero img {
    flex: 1;
    object-fit: cover;
    width: 50%;
    border-radius: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    display: grid;
    border: 1px solid #a9b1d6;
    padding: 1rem;
    border-radius: 1rem;
    grid-template-rows: subgrid;
    grid-row: span 3;
    align-items: center;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card h2,
.card span,
.card a {
    color: white;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info a {
    border: 1px solid #a9b1d6;
    color: #a9b1d6;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.card-info a:hover {
    background-color: #a9b1d644;
}

.footer {
    border-top: 1px solid #a9b1d6;
    margin-top: 2rem;
    padding: 1rem 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul li i {
    font-size: 2rem;
    margin: 0 1rem;
    color: #a9b1d6;
}

.credits {
    padding-top: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits span {
    color: #a9b1d6;
}

@media(max-width: 400px) {

    body {
        margin: 1rem 1rem;
    }

    .hero {
        flex-direction: column;
    }

    .hideOnMobile {
        display: none;
    }

    .sidebar {
        width: 80%;
    }

    .side-btn {
        display: block;
    }


}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Styles for phones */
    body {
        margin: 1rem 1rem;
    }

    .hero {
        flex-direction: column;
    }

    .hideOnMobile {
        display: none;
    }

    .side-btn {
        display: block;
    }

    .hero img {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Styles for small devices */
    body {
        margin: 1rem 1rem;
    }

    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 100%;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Styles for tablets */
    body {
        margin: 1rem 1rem;
    }

    .hero-card .hero-info p {
        font-size: smaller;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Styles for desktops */
    body {
        margin: 1rem 1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* Styles for large desktops */
    body {
        margin: 1rem 10%;
    }
}

/* Extra-extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1700px) {

    /* Styles for very large screens */
    body {
        margin: 1rem 15%;
    }

}